html {
  background: url(https://i.pinimg.com/originals/53/87/b1/5387b111b71be1c9067e6dbaf4e905db.jpg);
  background-position: center;
}

button {
  background-color: pink;
  border-radius: 12px;
  margin: 15px;
  font-size: 20px;
}