.anime-container{
  display: flex;
  justify-content: space-between;
}

button {
  background-color: pink;
  border-radius: 12px;
  margin: 15px;
  font-size: 20px;
  z-index: 1;
  white-space: nowrap;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: black;
}

img {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 30px;
  color: pink;
}

p {
  font-size: 30px;
  color: pink;
}