/* .anime-container{
  display: flex;
  justify-content: space-between;
} */

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.header h1 {
  margin: 0;
}

.all-quotes {
  position: absolute;
  background: rgba(0,0,0,0.1);
  height: 90vh;
  width: 25%;
}

.character-container {
  width: 75%;
  margin-left: 25%;
  text-align: center;
}

button {
  background-color: pink;
  border-radius: 12px;
  margin: 15px;
  font-size: 20px;
  z-index: 1;
  white-space: nowrap;
  text-align: center;
}

h1 {
  font-size: 25px;
  color: black;

}

img {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 30px;
  color: pink;
}

p {
  font-size: 30px;
  color: pink;
}